[submodule "animation_queue"]
	path = animation_queue
	url = https://github.com/jykng-van/animation_queue.git
[submodule "image_editor"]
	path = image_editor
	url = https://github.com/jykng-van/image_editor.git
[submodule "pdf_notes"]
	path = pdf_notes
	url = https://github.com/jykng-van/pdf_notes.git
